html, body {
	width: 100%;
	height: 100%;
	font-family: BelweBdBTBold;
}
 body {
	overflow: hidden;
	cursor: url(src/cursor/cursor.png) 10 2, auto;
	 	background-color: black;
	background-image: url(src/images/background.png) !important;
	background-size: contain;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}
 body:active {
	 cursor: url(src/cursor/click.png) 10 2, auto;
}
@font-face {
	font-family: BelweBdBTBold;
	src: url(src/fonts/BelweBdBTBold.ttf);
}
 .cards {
 	bottom: 0;
	 display: flex;
	 height: 100px;
	 padding: 0 50px;
	 justify-content: center;
	 position: absolute;
	 left: 0;
	 right: 0;
	 z-index: 10;
}
.enemycards {
	 top: -10px;
	 display: flex;
	 width: 60%;
	 height: 100px;
	 padding: 0 50px;
	 	 margin: -50px;
	 justify-content: center;
	 position: relative;
	 left: 20%;
	 right: 0;
	 z-index: 10;
}
 .card {
	 height: 150px;
	 position: absolute;
	 width: 100px;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.enemycard {
	width: 100px;
	height: 160px;
	margin: -15px;
	 position: relative;
	 background-image: url(src/images/goldcardback.png);
	 background-repeat: no-repeat;
	 background-size: contain;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
 .card:after {
	 bottom: 0;
	 content: '';
	 position: absolute;
	 top: 0px;
	 z-index: 10;
}
.card:active {
	cursor: url(src/cursor/grab.png) 10 2, auto;
}
 .card-face {
 	 background-size: contain;
 	 background-repeat: no-repeat;
	 bottom: 0;
	 content: '';
	 left: 0;
	 pointer-events: none;
	 position: absolute;
	 right: 0;
	 top: 0;
	 transition: 800ms cubic-bezier(0.19, 1, 0.22, 1) transform;
}
.card-border {
	 height: 143px;
	 width: 93px;
	border: solid 4px rgba(0, 230, 64, 1);
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
 .card-face:after {
	 animation: none;
	 background: #fff;
	 bottom: 0;
	 content: '';
	 left: 0;
	 opacity: 0;
	 position: absolute;
	 right: 0;
	 top: 0;
}
 .card:nth-child(1) .card-face {
	 box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(255, 153, 153, 0.75);
	 transform: translateY(5px);
}
 .card:nth-child(1) .card-face .card-label {
	 color: rgba(219, 0, 0, 1);
	 text-shadow: -0.025em 0.025em 0 rgba(255, 128, 128, 1);
}
 .card:nth-child(1):hover .card-face {
	 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(255, 153, 153, 0.75);
	 transform: translateY(-130px) rotate(0deg) scale(2);
	 transition-duration: 0ms;
	 z-index: 5;
}
 .card:nth-child(1):hover .card-face:after {
	 animation: fade 250ms ease-out forwards;
}
 .card:nth-child(1):hover:after {
	 top: -175px;
}
 .card:nth-child(2) .card-face {
	 box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(255, 153, 214, 0.75);
	 transform: translateY(5px);
}
 .card:nth-child(2) .card-face .card-label {
	 color: rgba(219, 0, 132, 1);
	 text-shadow: -0.025em 0.025em 0 rgba(255, 128, 204, 1);
}
 .card:nth-child(2):hover .card-face {
	 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(255, 153, 214, 0.75);
	 transform: translateY(-130px) rotate(0deg) scale(2);
	 transition-duration: 0ms;
	 z-index: 5;
}
 .card:nth-child(2):hover .card-face:after {
	 animation: fade 250ms ease-out forwards;
}
 .card:nth-child(2):hover:after {
	 top: -175px;
}
 .card:nth-child(3) .card-face {
	 box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(235, 153, 255, 0.75);
	 transform: translateY(5px);
}
 .card:nth-child(3) .card-face .card-label {
	 color: rgba(175, 0, 219, 1);
	 text-shadow: -0.025em 0.025em 0 rgba(230, 128, 255, 1);
}
 .card:nth-child(3):hover .card-face {
	 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(235, 153, 255, 0.75);
	 transform: translateY(-130px) rotate(0deg) scale(2);
	 transition-duration: 0ms;
	 z-index: 5;
}
 .card:nth-child(3):hover .card-face:after {
	 animation: fade 250ms ease-out forwards;
}
 .card:nth-child(3):hover:after {
	 top: -175px;
}
 .card:nth-child(4) .card-face {
	 box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(173, 153, 255, 0.75);
	 transform: translateY(5px);
}
 .card:nth-child(4) .card-face .card-label {
	 color: rgba(44, 0, 219, 1);
	 text-shadow: -0.025em 0.025em 0 rgba(153, 128, 255, 1);
}
 .card:nth-child(4):hover .card-face {
	 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(173, 153, 255, 0.75);
	 transform: translateY(-130px) rotate(0deg) scale(2);
	 transition-duration: 0ms;
	 z-index: 5;
}
 .card:nth-child(4):hover .card-face:after {
	 animation: fade 250ms ease-out forwards;
}
 .card:nth-child(4):hover:after {
	 top: -175px;
}
 .card:nth-child(5) .card-face {
	 box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(153, 194, 255, 0.75);
	 transform: translateY(5px);
}
 .card:nth-child(5) .card-face .card-label {
	 color: rgba(0, 88, 219, 1);
	 text-shadow: -0.025em 0.025em 0 rgba(128, 179, 255, 1);
}
 .card:nth-child(5):hover .card-face {
	 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(153, 194, 255, 0.75);
	 transform: translateY(-130px) rotate(0deg) scale(2);
	 transition-duration: 0ms;
	 z-index: 5;
}
 .card:nth-child(5):hover .card-face:after {
	 animation: fade 250ms ease-out forwards;
}
 .card:nth-child(5):hover:after {
	 top: -175px;
}
 .card:nth-child(6) .card-face {
	 box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(153, 255, 255, 0.75);
	 transform: translateY(5px);
}
 .card:nth-child(6) .card-face .card-label {
	 color: rgba(0, 219, 219, 1);
	 text-shadow: -0.025em 0.025em 0 rgba(128, 255, 255, 1);
}
 .card:nth-child(6):hover .card-face {
	 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(153, 255, 255, 0.75);
	 transform: translateY(-130px) rotate(0deg) scale(2);
	 transition-duration: 0ms;
	 z-index: 5;
}
 .card:nth-child(6):hover .card-face:after {
	 animation: fade 250ms ease-out forwards;
}
 .card:nth-child(6):hover:after {
	 top: -175px;
}
 .card:nth-child(7) .card-face {
	 box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(153, 255, 194, 0.75);
	 transform: translateY(5px);
}
 .card:nth-child(7) .card-face .card-label {
	 color: rgba(0, 219, 88, 1);
	 text-shadow: -0.025em 0.025em 0 rgba(128, 255, 179, 1);
}
 .card:nth-child(7):hover .card-face {
	 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(153, 255, 194, 0.75);
	 transform: translateY(-130px) rotate(0deg) scale(2);
	 transition-duration: 0ms;
	 z-index: 5;
}
 .card:nth-child(7):hover .card-face:after {
	 animation: fade 250ms ease-out forwards;
}
 .card:nth-child(7):hover:after {
	 top: -175px;
}
 .card:nth-child(8) .card-face {
	 box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(173, 255, 153, 0.75);
	 transform: translateY(5px);
}
 .card:nth-child(8) .card-face .card-label {
	 color: rgba(44, 219, 0, 1);
	 text-shadow: -0.025em 0.025em 0 rgba(153, 255, 128, 1);
}
 .card:nth-child(8):hover .card-face {
	 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(173, 255, 153, 0.75);
	 transform: translateY(-130px) rotate(0deg) scale(2);
	 transition-duration: 0ms;
	 z-index: 5;
}
 .card:nth-child(8):hover .card-face:after {
	 animation: fade 250ms ease-out forwards;
}
 .card:nth-child(8):hover:after {
	 top: -175px;
}
 .card:nth-child(9) .card-face {
	 box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(235, 255, 153, 0.75);
	 transform: translateY(5px);
}
 .card:nth-child(9) .card-face .card-label {
	 color: rgba(175, 219, 0, 1);
	 text-shadow: -0.025em 0.025em 0 rgba(230, 255, 128, 1);
}
 .card:nth-child(9):hover .card-face {
	 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(235, 255, 153, 0.75);
	 transform: translateY(-130px) rotate(0deg) scale(2);
	 transition-duration: 0ms;
	 z-index: 5;
}
 .card:nth-child(9):hover .card-face:after {
	 animation: fade 250ms ease-out forwards;
}
 .card:nth-child(9):hover:after {
	 top: -175px;
}
 .card:nth-child(10) .card-face {
	 box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(255, 214, 153, 0.75);
	 transform: translateY(5px);
}
 .card:nth-child(10) .card-face .card-label {
	 color: rgba(219, 132, 0, 1);
	 text-shadow: -0.025em 0.025em 0 rgba(255, 204, 128, 1);
}
 .card:nth-child(10):hover .card-face {
	 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(255, 214, 153, 0.75);
	 transform: translateY(-130px) rotate(0deg) scale(2);
	 transition-duration: 0ms;
	 z-index: 5;
}
 .card:nth-child(10):hover .card-face:after {
	 animation: fade 250ms ease-out forwards;
}
 .card:nth-child(10):hover:after {
	 top: -175px;
}
 @keyframes fade {
	 0% {
		 opacity: 0.8;
		 border-radius: 10px;
		 transform: scale(1);
	}
	 100% {
		 opacity: 0;
		 border-radius: 10px;
		 transform: scale(1.15);
	}
}
.board {
	display: flex;
	 justify-content: space-between;
	 width: 80%;
	 height: 2%;
	 max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  transform: translateY(65%);
}
 .cardinplay {
 	position: relative;
 	background-size: cover;
 	background-repeat: no-repeat;
	 float: left;
	 margin: 0 auto;
	 transition: border 0.3s ease, box-shadow 0.3s ease;
	 border: solid 3px black;
}
@media only screen and (min-width: 1000px) {
	.cardinplay {
		width: 4rem;
	 	height: 5rem;
	}
	.oval {
		width: 3.5rem;
		height: 4.5rem;
	}
	.board {
		padding: 4.5rem;
	}
	#endturn {
		left: 77%;
		top: 42%;
	}
	.enemycard {
		width: 80px;
		height: 125px;
	}
	.playerHeroHealth {
		left: 55%;
		top: 115%;
	}
	.opposingHeroHealth {
		left: 55%;
		top: 80%;
	}
}
@media only screen and (min-width: 1500px) {
	.cardinplay {
		width: 6rem;
	 	height: 7.5rem;
	}
	.oval {
		width: 5.5rem;
		height: 7rem;
	}
	.board {
		padding: 6.5rem;
	}
	#endturn {
		left: 75%;
		top: 42%;
	}
	.enemycard {
		width: 100px;
		height: 160px;
	}
	.playerHeroHealth {
		left: 55%;
		top: 125%;
	}
	.opposingHeroHealth {
		left: 55%;
		top: 60%;
	}
}
.computer-cardinplay:hover {
	box-shadow: 0 0 3em 1px white !important;
}
 .cardinplay:hover {
	 box-shadow: 0 0 3em 1px white;
	 cursor: url(src/cursor/cursor.png) 10 2, auto;
}
.playerhero:hover {
  box-shadow: none;
}
.opponenthero:hover {
	box-shadow: none;
}

 .cardinplay img {
	 width: 100%;
}
.cardinplay:active {
	cursor: url(src/cursor/click.png) 10 2, auto;
}
 svg {
	 position: absolute;
	 top: 0;
	 left: 0;
	 pointer-events: none;
}
 [data-card="red"] {
	 background: linear-gradient(-135deg, rgba(255, 153, 153, 1), rgba(218, 11, 11, 1));
	 box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(255, 153, 153, 0.75);
	 background-size: cover;
}
 [data-card="blue"] {
	  background: linear-gradient(-135deg, rgba(153, 194, 255, 1), rgba(11, 94, 218, 1));
	 box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(153, 194, 255, 0.75);
	 background-size: cover;
}
 [data-card="yellow"] {
	 background: linear-gradient(-135deg, rgba(255, 214, 153, 1), rgba(218, 135, 11, 1));
	 box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(255, 214, 153, 0.75);
	 background-size: cover;
}
.playerhero {
	position: absolute;
	width: 11%;
	height: 17%;
	left: 46.75%;
	top: 67.75%;
	z-index: 0;
	background-image: url(src/images/medivh.gif);
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: contain;
 }
 .playerheropower {
 		position: absolute;
	width: 10%;
	height: 13%;
	top: 69%;
	left: 56%;
	z-index: 0;
	background-image: url(src/images/heropower.gif);
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: contain;
 }
 .heroPowerAttack {
 	font-size: 0px;
 	user-select: none;
 }
  .heroPowerHealth {
 	font-size: 0px;
 	user-select: none;
 }
.opponenthero {
	position: absolute;
	width: 11%;
	height: 17%;
	left: 46.75%;
	top: 9.75%;
	z-index: 0;
	background-image: url(src/images/valeera_sanguinar.gif);
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: contain;
 }
 #opposinghero {
 		border: none !important;
 		width: 100% !important;
		height: 100% !important;
 		box-shadow: none !important;
 }
 #playerhero {
 		border: none !important;
 		width: 100% !important;
 		box-shadow: none !important;
 }
  #playerheropower {
 		border: none !important;
 		width: 100% !important;
 		box-shadow: none !important;
 }
 .attackValue {
 	position: absolute;
 	bottom: -3px;
 	left: -13px;
	 width: 1.75rem;
	 height: 2rem;
	 margin: 0 auto;
	 padding-left: 0.5rem;
	 border-top-right-radius: 0.5vw;
	 border-bottom-left-radius: 0.5vw;
	 transition: border 0.3s ease, box-shadow 0.3s ease;
	 background-size: cover;
	 font-size: 35px;
	 font-weight: bold;
	 letter-spacing: -0.025em;
	 color: white;
   text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	 text-shadow: -0.025em 0.025em 0 black;
	 user-select: none;
	 z-index: 10;
 }
 .healthValue {
 	position: absolute;
 	bottom: -3px;
 	right: -15px;
	 width: 1.75rem;
	 height: 2rem;
	 margin: 0 auto;
	 padding-left: 0.5rem;
	 border-bottom-right-radius: 0.5vw;
	 border-top-left-radius: 0.5vw;
	 transition: border 0.3s ease, box-shadow 0.3s ease;
	 background-size: cover;
	 font-size: 35px;
	 font-weight: bold;
	 letter-spacing: -0.025em;
	 color: white;
   text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	 text-shadow: -0.025em 0.025em 0 black;
	 user-select: none;
	 z-index: 10;
 }
  .cardAttackValue {
	 float: left;
	 width: 1.3rem;
	 height: 1rem;
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 margin: 0 auto;
	 transition: border 0.3s ease, box-shadow 0.3s ease;
	 background: linear-gradient(-135deg, rgba(255, 214, 153, 1), rgba(218, 135, 11, 1));
	 box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(255, 214, 153, 0.75);
	 background-size: cover;
	 font-size: 15px;
	 font-weight: bold;
	 letter-spacing: -0.025em;
	 color: white;
   text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	 text-shadow: -0.025em 0.025em 0 black;
	 user-select: none;
	 z-index: 5;
 }
 .cardHealthValue {
 	 float: right;
	 width: 1.3rem;
	 height: 1rem;
	 position: absolute;
	 bottom: 0;
	 right: 0;
	 margin: 0 auto;
	 transition: border 0.3s ease, box-shadow 0.3s ease;
	 background: linear-gradient(-135deg, rgba(255, 153, 153, 1), rgba(218, 11, 11, 1));
	 box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(255, 153, 153, 0.75);
	 background-size: cover;
	 font-size: 15px;
	 font-weight: bold;
	 letter-spacing: -0.025em;
	 color: white;
   text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	 text-shadow: -0.025em 0.025em 0 black;
	 user-select: none;
	 z-index: 5;
}
 .cardManaValue {
 	 float: right;
	 width: 1.5rem;
	 position: absolute;
	 top: 2px;
	 left: 2px;
	 height: 1.5rem;
	 margin: 0 auto;
	 border-radius: 100%;
	 text-align: center;
	 transition: border 0.3s ease, box-shadow 0.3s ease;
	 background: linear-gradient(-135deg, rgba(153, 194, 255, 1), rgba(11, 94, 218, 1));
	 box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(153, 194, 255, 0.75);
	 background-size: cover;
	 font-size: 20px;
	 font-weight: bold;
	 letter-spacing: -0.025em;
	 color: white;
   text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	 text-shadow: -0.025em 0.025em 0 black;
	 user-select: none;
}
	.cardInfoValue {
	 width: 100px;
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 height: 30%;
	 margin: auto;
	 text-align: center;
	 transition: border 0.3s ease, box-shadow 0.3s ease;
	 background-color: rgb(139,69,19);
	 background-size: cover;
	 font-size: 8px;
	 font-weight: bold;
	 letter-spacing: -0.025em;
	 color: rgb(51, 26, 0);
	 user-select: none;
	}
.cardNameValue {
	 width: 95px;
	 position: absolute;
	 top: 60%;
	 left: 2.5px;
	 height: 10%;
	 margin: auto;
	 text-align: center;
	 transition: border 0.3s ease, box-shadow 0.3s ease;
	 background-color: rgb(255,255,198);
	 background-size: cover;
	 font-size: 8px;
	 font-weight: bold;
	 letter-spacing: -0.025em;
	 color: rgb(51, 26, 0);
	 user-select: none;
	}
 .deck {
	height: 150px;
	 margin: 0 -25px;
	 position: absolute;
	 width: 100px;
	 font-size: 27px;
	 font-weight: bold;
	 letter-spacing: -0.025em;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML *c/
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.player-deck {
	background-image: url(src/images/legendcardback.png);
	background-repeat: no-repeat;
	background-size: contain;
	 color: white;
   text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	 text-shadow: -0.025em 0.025em 0 black;
	 border-radius: 10px;
	 top: 51.5%;
	 left: 80%;
}
.computer-deck {
	background-image: url(src/images/goldcardback.png);
	background-repeat: no-repeat;
	background-size: contain;
	 color: white;
   text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	 text-shadow: -0.025em 0.025em 0 black;
	 border-radius: 10px;
	 top: 24.5%;
	 left: 80%;
}
#endturn {
	width: 8%;
	height: 8%;
	position: absolute;
	user-select: none;
	background-color: orange;
	z-index: 5;
}
.opposingHeroHealth {
	position: absolute;
	left: 55%;
	top: 75%;
	width: 1.75rem;
	height: 2rem;
	margin: 0 auto;
	padding-left: 0.5rem;
	transition: border 0.3s ease, box-shadow 0.3s ease;
	background-size: cover;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: -0.025em;
	color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	text-shadow: -0.025em 0.025em 0 black;
	user-select: none;
}
.playerHeroHealth {
	position: absolute;
	width: 1.75rem;
	height: 2rem;
	margin: 0 auto;
	padding-left: 0.5rem;
	transition: border 0.3s ease, box-shadow 0.3s ease;
	background-size: cover;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: -0.025em;
	color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	text-shadow: -0.025em 0.025em 0 black;
	user-select: none;
}
.collisionbox {
	width: 90%;
	height: 30%;
	position: absolute;
	left: 5%;
	top: 35%;
}
.oval {
	border: solid 4px black;
	border-radius: 100%;
  /* Start the shake animation and make the animation last for 0.5 seconds */

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(0.25px, 0.25px) rotate(0deg); }
  10% { transform: translate(-0.25px, -0.5px) rotate(-0.1deg); }
  20% { transform: translate(-1.7px, 0px) rotate(0.1deg); }
  30% { transform: translate(0.7px, 0.5px) rotate(0deg); }
  40% { transform: translate(0.25px, -0.25px) rotate(0.1deg); }
  50% { transform: translate(-0.25px, 0.5px) rotate(-0.1deg); }
  60% { transform: translate(-0.7px, 0.25px) rotate(0deg); }
  70% { transform: translate(0.7px, 0.25px) rotate(-0.1deg); }
  80% { transform: translate(-0.25px, -0.25px) rotate(0.1deg); }
  90% { transform: translate(0.25px, 0.5px) rotate(0deg); }
  100% { transform: translate(0.25px, -0.5px) rotate(-0.1deg); }
}
.mana {
	position: absolute;
	top: 91%;
	left: 63.25%;
	color: white;
	font-size: 23px;
	font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	text-shadow: -0.025em 0.025em 0 black;
	user-select: none;
}
@media screen and (max-height: 450px) {
	.sidebar {padding-top: 15px;}
	.sidebar h1 {font-size: 18px;}
  }
  .sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
  }
  
  .sidebar h1 {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  .sidebar h1:hover {
	color: #f1f1f1;
  }
  
  .sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
	color: #818181 !important;
    text-decoration: none !important;
  }
  
  .openbtn {
	font-size: 20px;
	cursor: pointer;
	background-color: #111;
	color: white;
	padding: 10px 15px;
	border: none;
  }
  
  .openbtn:hover {
	background-color: #444;
  }
  #fps {
	  position:absolute;
	  top: 5;
	  right: 0;
	  color: white;
	  font-size: 25px;
  }