html, body {
	width: 100%;
	height: 100%;
	font-family: BelweBdBTBold;
}
body {
	overflow: hidden;
	cursor: url(src/cursor/cursor.png) 10 2, auto;
	 	background-color: black;
}
button:hover {
	cursor: url(src/cursor/cursor.png) 10 2, auto;
}
button:active {
	cursor: url(src/cursor/click.png) 10 2, auto;
}
.bg-image {
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
    top: 0;
    left: 0;
    right: 0;
	background-image: url(src/images/background.png) !important;
	background-size: contain;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	z-index: -1;
}
 body:active {
	 cursor: url(src/cursor/click.png) 10 2, auto;
}
@font-face {
	font-family: BelweBdBTBold;
	src: url(src/fonts/BelweBdBTBold.ttf);
}
#load{
    width:103%;
    height:100%;
    position:absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    z-index:9999;
	font-size: 35px;
    background:url("src/images/loading.gif") no-repeat center center rgb(255, 255, 255) !important;
}
/* In Game */
/* Animations */
@keyframes placeCardAnim {
	0%   {transform:scale(2);}
	100% {transform:scale(1);}
 }
 .placeCardAnim{
    animation: placeCardAnim 0.3s;
}
@keyframes onLoadPlayerAnim {
	0%   {transform:scale(2.4) translate(-110px, -20px);}
	95%   {transform:scale(2.4) translate(-110px, -20px);}
	100% {transform:scale(1) translate(0, 0);}
}
.onLoadPlayerAnim {
    animation: onLoadPlayerAnim 6s;
}
@keyframes onLoadComputerAnim {
	0%   {transform:scale(2.4) translate(160px, 40px);}
	95%   {transform:scale(2.4) translate(160px, 40px);}
	100% {transform:scale(1) translate(0, 0);}
}
.onLoadComputerAnim {
    animation: onLoadComputerAnim 6s;
}
 .cards {
 	bottom: 0;
	 display: flex;
	 height: 100px;
	 padding: 0 50px;
	 justify-content: center;
	 position: absolute;
	 left: 0;
	 right: 0;
	 z-index: 9;
}
.enemycards {
	 top: -20px;
	 display: flex;
	 width: 60%;
	 height: 100px;
	 padding: 0 50px;
	 	 margin: -50px;
	 justify-content: center;
	 position: relative;
	 left: 20%;
	 right: 0;
	 z-index: 5;
}
 .card {
	 height: 150px;
	 position: absolute;
	 width: 100px;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.enemycard {
	width: 100px;
	height: 160px;
	margin: -15px;
	 position: relative;
	 background-image: url(src/images/frostcardback.png);
	 background-repeat: no-repeat;
	 background-size: contain;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
 .card:after {
	 bottom: 0;
	 content: '';
	 position: absolute;
	 top: 0px;
	 z-index: 10;
}
.card:active {
	cursor: url(src/cursor/grab.png) 10 2, auto;
}
 .card-face {
 	 background-size: contain;
 	 background-repeat: no-repeat;
	 bottom: 0;
	 content: '';
	 left: 0;
	 pointer-events: none;
	 position: absolute;
	 right: 0;
	 top: 0;
	 transition: 800ms cubic-bezier(0.19, 1, 0.22, 1) transform;
}
.card-border {
	 height: 143px;
	 width: 93px;
	border: solid 4px rgba(0, 230, 64, 1);
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
 .card-face:after {
	 animation: none;
	 background: #fff;
	 bottom: 0;
	 content: '';
	 left: 0;
	 opacity: 0;
	 position: absolute;
	 right: 0;
	 top: 0;
}
 .card:nth-child(1) .card-face {
	 box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(255, 153, 153, 0.75);
	 transform: translateY(5px);
}
 .card:nth-child(1) .card-face .card-label {
	 color: rgba(219, 0, 0, 1);
	 text-shadow: -0.025em 0.025em 0 rgba(255, 128, 128, 1);
}
 .card:nth-child(1):hover .card-face {
	 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(255, 153, 153, 0.75);
	 transform: translateY(-130px) rotate(0deg) scale(2);
	 transition-duration: 0ms;
	 z-index: 5;
}
 .card:nth-child(1):hover .card-face:after {
	 animation: fade 250ms ease-out forwards;
}
 .card:nth-child(1):hover:after {
	 top: -175px;
}
 .card:nth-child(2) .card-face {
	 box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(255, 153, 214, 0.75);
	 transform: translateY(5px);
}
 .card:nth-child(2) .card-face .card-label {
	 color: rgba(219, 0, 132, 1);
	 text-shadow: -0.025em 0.025em 0 rgba(255, 128, 204, 1);
}
 .card:nth-child(2):hover .card-face {
	 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(255, 153, 214, 0.75);
	 transform: translateY(-130px) rotate(0deg) scale(2);
	 transition-duration: 0ms;
	 z-index: 5;
}
 .card:nth-child(2):hover .card-face:after {
	 animation: fade 250ms ease-out forwards;
}
 .card:nth-child(2):hover:after {
	 top: -175px;
}
 .card:nth-child(3) .card-face {
	 box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(235, 153, 255, 0.75);
	 transform: translateY(5px);
}
 .card:nth-child(3) .card-face .card-label {
	 color: rgba(175, 0, 219, 1);
	 text-shadow: -0.025em 0.025em 0 rgba(230, 128, 255, 1);
}
 .card:nth-child(3):hover .card-face {
	 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(235, 153, 255, 0.75);
	 transform: translateY(-130px) rotate(0deg) scale(2);
	 transition-duration: 0ms;
	 z-index: 5;
}
 .card:nth-child(3):hover .card-face:after {
	 animation: fade 250ms ease-out forwards;
}
 .card:nth-child(3):hover:after {
	 top: -175px;
}
 .card:nth-child(4) .card-face {
	 box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(173, 153, 255, 0.75);
	 transform: translateY(5px);
}
 .card:nth-child(4) .card-face .card-label {
	 color: rgba(44, 0, 219, 1);
	 text-shadow: -0.025em 0.025em 0 rgba(153, 128, 255, 1);
}
 .card:nth-child(4):hover .card-face {
	 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(173, 153, 255, 0.75);
	 transform: translateY(-130px) rotate(0deg) scale(2);
	 transition-duration: 0ms;
	 z-index: 5;
}
 .card:nth-child(4):hover .card-face:after {
	 animation: fade 250ms ease-out forwards;
}
 .card:nth-child(4):hover:after {
	 top: -175px;
}
 .card:nth-child(5) .card-face {
	 box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(153, 194, 255, 0.75);
	 transform: translateY(5px);
}
 .card:nth-child(5) .card-face .card-label {
	 color: rgba(0, 88, 219, 1);
	 text-shadow: -0.025em 0.025em 0 rgba(128, 179, 255, 1);
}
 .card:nth-child(5):hover .card-face {
	 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(153, 194, 255, 0.75);
	 transform: translateY(-130px) rotate(0deg) scale(2);
	 transition-duration: 0ms;
	 z-index: 5;
}
 .card:nth-child(5):hover .card-face:after {
	 animation: fade 250ms ease-out forwards;
}
 .card:nth-child(5):hover:after {
	 top: -175px;
}
 .card:nth-child(6) .card-face {
	 box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(153, 255, 255, 0.75);
	 transform: translateY(5px);
}
 .card:nth-child(6) .card-face .card-label {
	 color: rgba(0, 219, 219, 1);
	 text-shadow: -0.025em 0.025em 0 rgba(128, 255, 255, 1);
}
 .card:nth-child(6):hover .card-face {
	 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(153, 255, 255, 0.75);
	 transform: translateY(-130px) rotate(0deg) scale(2);
	 transition-duration: 0ms;
	 z-index: 5;
}
 .card:nth-child(6):hover .card-face:after {
	 animation: fade 250ms ease-out forwards;
}
 .card:nth-child(6):hover:after {
	 top: -175px;
}
 .card:nth-child(7) .card-face {
	 box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(153, 255, 194, 0.75);
	 transform: translateY(5px);
}
 .card:nth-child(7) .card-face .card-label {
	 color: rgba(0, 219, 88, 1);
	 text-shadow: -0.025em 0.025em 0 rgba(128, 255, 179, 1);
}
 .card:nth-child(7):hover .card-face {
	 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(153, 255, 194, 0.75);
	 transform: translateY(-130px) rotate(0deg) scale(2);
	 transition-duration: 0ms;
	 z-index: 5;
}
 .card:nth-child(7):hover .card-face:after {
	 animation: fade 250ms ease-out forwards;
}
 .card:nth-child(7):hover:after {
	 top: -175px;
}
 .card:nth-child(8) .card-face {
	 box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(173, 255, 153, 0.75);
	 transform: translateY(5px);
}
 .card:nth-child(8) .card-face .card-label {
	 color: rgba(44, 219, 0, 1);
	 text-shadow: -0.025em 0.025em 0 rgba(153, 255, 128, 1);
}
 .card:nth-child(8):hover .card-face {
	 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(173, 255, 153, 0.75);
	 transform: translateY(-130px) rotate(0deg) scale(2);
	 transition-duration: 0ms;
	 z-index: 5;
}
 .card:nth-child(8):hover .card-face:after {
	 animation: fade 250ms ease-out forwards;
}
 .card:nth-child(8):hover:after {
	 top: -175px;
}
 .card:nth-child(9) .card-face {
	 box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(235, 255, 153, 0.75);
	 transform: translateY(5px);
}
 .card:nth-child(9) .card-face .card-label {
	 color: rgba(175, 219, 0, 1);
	 text-shadow: -0.025em 0.025em 0 rgba(230, 255, 128, 1);
}
 .card:nth-child(9):hover .card-face {
	 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(235, 255, 153, 0.75);
	 transform: translateY(-130px) rotate(0deg) scale(2);
	 transition-duration: 0ms;
	 z-index: 5;
}
 .card:nth-child(9):hover .card-face:after {
	 animation: fade 250ms ease-out forwards;
}
 .card:nth-child(9):hover:after {
	 top: -175px;
}
 .card:nth-child(10) .card-face {
	 box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(255, 214, 153, 0.75);
	 transform: translateY(5px);
}
 .card:nth-child(10) .card-face .card-label {
	 color: rgba(219, 132, 0, 1);
	 text-shadow: -0.025em 0.025em 0 rgba(255, 204, 128, 1);
}
 .card:nth-child(10):hover .card-face {
	 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(255, 214, 153, 0.75);
	 transform: translateY(-130px) rotate(0deg) scale(2);
	 transition-duration: 0ms;
	 z-index: 5;
}
 .card:nth-child(10):hover .card-face:after {
	 animation: fade 250ms ease-out forwards;
}
 .card:nth-child(10):hover:after {
	 top: -175px;
}
 @keyframes fade {
	 0% {
		 opacity: 0.8;
		 border-radius: 10px;
		 transform: scale(1);
	}
	 100% {
		 opacity: 0;
		 border-radius: 10px;
		 transform: scale(1.15);
	}
}
.board {
	display: flex;
	 justify-content: space-between;
	 width: 80%;
	 height: 2%;
	 max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  transform: translateY(55%);
}
 .cardinplay {
 	position: relative;
 	background-size: cover;
 	background-repeat: no-repeat;
	 float: left;
	 margin: 0 auto;
	 transition: border 0.3s ease, box-shadow 0.3s ease;
	 border: solid 3px black;
}
@media only screen and (min-width: 1000px) {
	.cardinplay {
		width: 4rem;
	 	height: 5rem;
	}
	.oval {
		width: 3.5rem;
		height: 4.5rem;
	}
	.board {
		padding: 4.5rem;
	}
	#endturn {
		left: 76.5%;
		top: 42.5%;
	}
	.enemycard {
		width: 80px;
		height: 125px;
	}
	.playerHeroHealth {
		left: 55%;
		top: 115%;
	}
	.opposingHeroHealth {
		left: 55%;
		top: 80%;
	}
	.deck {
		height: 115px;
		width: 95px;
	}
	#concedebutton {
		font-size: 15px;
	}
	#optionsbutton {
		font-size: 15px;
	}
	#quitbutton {
		font-size: 15px;
	}
	#resumebutton {
		font-size: 15px;
	}
	#miscellaneousbutton {
		font-size: 15px;
	}
	#confirm {
		font-size: 15px;
	}
}
@media only screen and (min-width: 1500px) {
	.cardinplay {
		width: 6rem;
	 	height: 7.5rem;
	}
	.oval {
		width: 5.5rem;
		height: 7rem;
	}
	.board {
		padding: 5.75rem;
	}
	#endturn {
		left: 75.5%;
		top: 42%;
	}
	.enemycard {
		width: 100px;
		height: 160px;
	}
	.playerHeroHealth {
		left: 55%;
		top: 125%;
	}
	.opposingHeroHealth {
		left: 55%;
		top: 60%;
	}
	.deck {
		height: 150px;
		width: 100px;
	}
	#concedebutton {
		font-size: 25px;
	}
	#optionsbutton {
		font-size: 25px;
	}
	#quitbutton {
		font-size: 25px;
	}
	#resumebutton {
		font-size: 25px;
	}
	#miscellaneousbutton {
		font-size: 25px;
	}
	#confirm {
		font-size: 23px;
	}
}
.computer-cardinplay:hover {
	box-shadow: 0 0 3em 1px white !important;
}
 .cardinplay:hover {
	 box-shadow: 0 0 3em 1px white;
	 cursor: url(src/cursor/cursor.png) 10 2, auto;
}
.playerhero:hover {
  box-shadow: none;
}
.opponenthero:hover {
	box-shadow: none;
}

 .cardinplay img {
	 width: 100%;
}
.cardinplay:active {
	cursor: url(src/cursor/click.png) 10 2, auto;
}
 svg {
	 position: absolute;
	 top: 0;
	 left: 0;
	 pointer-events: none;
	 z-index: 100;
}
 [data-card="red"] {
	 background: linear-gradient(-135deg, rgba(255, 153, 153, 1), rgba(218, 11, 11, 1));
	 box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(255, 153, 153, 0.75);
	 background-size: cover;
}
 [data-card="blue"] {
	  background: linear-gradient(-135deg, rgba(153, 194, 255, 1), rgba(11, 94, 218, 1));
	 box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(153, 194, 255, 0.75);
	 background-size: cover;
}
 [data-card="yellow"] {
	 background: linear-gradient(-135deg, rgba(255, 214, 153, 1), rgba(218, 135, 11, 1));
	 box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(255, 214, 153, 0.75);
	 background-size: cover;
}
.playerhero {
	position: absolute;
	width: 11%;
	height: 17%;
	left: 46.75%;
	top: 67.75%;
	z-index: 20;
	background-image: url(src/images/jaina_proudmoore.gif);
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: contain;
 }
 .playerheropower {
 		position: absolute;
	width: 10%;
	height: 13%;
	top: 69%;
	left: 56%;
	z-index: 0;
	background-image: url(src/images/heropower.gif);
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: contain;
 }
 .heroPowerAttack {
 	font-size: 0px;
 	user-select: none;
 }
  .heroPowerHealth {
 	font-size: 0px;
 	user-select: none;
 }
.opponenthero {
	position: absolute;
	width: 11%;
	height: 17%;
	left: 46.75%;
	top: 9.75%;
	z-index: 10;
	background-image: url(src/images/lich_king.png);
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: contain;
 }
 #opposinghero {
 		border: none !important;
 		width: 100% !important;
		height: 100% !important;
 		box-shadow: none !important;
 }
 #playerhero {
 		border: none !important;
 		width: 100% !important;
 		box-shadow: none !important;
 }
  #playerheropower {
 		border: none !important;
 		width: 100% !important;
 		box-shadow: none !important;
 }
 .attackValue {
 	position: absolute;
 	bottom: -3px;
 	left: -13px;
	 width: 1.75rem;
	 height: 2rem;
	 margin: 0 auto;
	 padding-left: 0.5rem;
	 border-top-right-radius: 0.5vw;
	 border-bottom-left-radius: 0.5vw;
	 transition: border 0.3s ease, box-shadow 0.3s ease;
	 background-size: cover;
	 font-size: 35px;
	 font-weight: bold;
	 letter-spacing: -0.025em;
	 color: white;
   text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	 text-shadow: -0.025em 0.025em 0 black;
	 user-select: none;
	 z-index: 10;
 }
 .healthValue {
 	position: absolute;
 	bottom: -3px;
 	right: -15px;
	 width: 1.75rem;
	 height: 2rem;
	 margin: 0 auto;
	 padding-left: 0.5rem;
	 border-bottom-right-radius: 0.5vw;
	 border-top-left-radius: 0.5vw;
	 transition: border 0.3s ease, box-shadow 0.3s ease;
	 background-size: cover;
	 font-size: 35px;
	 font-weight: bold;
	 letter-spacing: -0.025em;
	 color: white;
   text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	 text-shadow: -0.025em 0.025em 0 black;
	 user-select: none;
	 z-index: 10;
 }
  .cardAttackValue {
	 float: left;
	 width: 1.3rem;
	 height: 1rem;
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 margin: 0 auto;
	 transition: border 0.3s ease, box-shadow 0.3s ease;
	 background: linear-gradient(-135deg, rgba(255, 214, 153, 1), rgba(218, 135, 11, 1));
	 box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(255, 214, 153, 0.75);
	 background-size: cover;
	 font-size: 15px;
	 font-weight: bold;
	 letter-spacing: -0.025em;
	 color: white;
   text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	 text-shadow: -0.025em 0.025em 0 black;
	 user-select: none;
	 z-index: 5;
 }
 .cardHealthValue {
 	 float: right;
	 width: 1.3rem;
	 height: 1rem;
	 position: absolute;
	 bottom: 0;
	 right: 0;
	 margin: 0 auto;
	 transition: border 0.3s ease, box-shadow 0.3s ease;
	 background: linear-gradient(-135deg, rgba(255, 153, 153, 1), rgba(218, 11, 11, 1));
	 box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(255, 153, 153, 0.75);
	 background-size: cover;
	 font-size: 15px;
	 font-weight: bold;
	 letter-spacing: -0.025em;
	 color: white;
   text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	 text-shadow: -0.025em 0.025em 0 black;
	 user-select: none;
	 z-index: 5;
}
 .cardManaValue {
 	 float: right;
	 width: 1.5rem;
	 position: absolute;
	 top: 2px;
	 left: 2px;
	 height: 1.5rem;
	 margin: 0 auto;
	 border-radius: 100%;
	 text-align: center;
	 transition: border 0.3s ease, box-shadow 0.3s ease;
	 background: linear-gradient(-135deg, rgba(153, 194, 255, 1), rgba(11, 94, 218, 1));
	 box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(153, 194, 255, 0.75);
	 background-size: cover;
	 font-size: 20px;
	 font-weight: bold;
	 letter-spacing: -0.025em;
	 color: white;
   text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	 text-shadow: -0.025em 0.025em 0 black;
	 user-select: none;
}
	.cardInfoValue {
	 width: 100px;
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 height: 30%;
	 margin: auto;
	 text-align: center;
	 transition: border 0.3s ease, box-shadow 0.3s ease;
	 background-color: rgb(139,69,19);
	 background-size: cover;
	 font-size: 8px;
	 font-weight: bold;
	 letter-spacing: -0.025em;
	 color: rgb(51, 26, 0);
	 user-select: none;
	}
.cardNameValue {
	 width: 95px;
	 position: absolute;
	 top: 60%;
	 left: 2.5px;
	 height: 10%;
	 margin: auto;
	 text-align: center;
	 transition: border 0.3s ease, box-shadow 0.3s ease;
	 background-color: rgb(255,255,198);
	 background-size: cover;
	 font-size: 8px;
	 font-weight: bold;
	 letter-spacing: -0.025em;
	 color: rgb(51, 26, 0);
	 user-select: none;
	}
 .deck {
	 margin: 0 -25px;
	 position: absolute;
	 font-size: 27px;
	 font-weight: bold;
	 letter-spacing: -0.025em;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML *c/
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.player-deck {
	background-image: url(src/images/legendcardback.png);
	background-repeat: no-repeat;
	background-size: contain;
	 color: white;
   text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	 text-shadow: -0.025em 0.025em 0 black;
	 border-radius: 10px;
	 top: 51.5%;
	 left: 82%;
}
.computer-deck {
	background-image: url(src/images/frostcardback.png);
	background-repeat: no-repeat;
	background-size: contain;
	 color: white;
   text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	 text-shadow: -0.025em 0.025em 0 black;
	 border-radius: 10px;
	 top: 24.5%;
	 left: 82%;
}
#endturn {
	width: 8%;
	height: 7%;
	position: absolute;
	user-select: none;
	font-size: 17px;
	background-color: #4ce322;
	border-top-left-radius: 120%35px;
	border-bottom-left-radius: 120%35px; 
	border-top-right-radius: 120%35px;
	border-bottom-right-radius: 120%35px; 
	font-family: BelweBdBTBold;
}
#confirm {
	width: 6%;
	height: 7%;
	position: absolute;
	top: 74%;
	left: 47.7%;
	user-select: none;
	background-color: #22a6e3;
	border-top-left-radius: 120%35px;
	border-bottom-left-radius: 120%35px; 
	border-top-right-radius: 120%35px;
	border-bottom-right-radius: 120%35px; 
	font-family: BelweBdBTBold;
	color: white;
	text-shadow:
	-2px -2px 0 #000,
	2px -2px 0 #000,
	-2px 2px 0 #000,
	2px 2px 0 #000;
	z-index: 21;
	display: none;
}
.opposingHeroHealth {
	position: absolute;
	left: 55%;
	top: 75%;
	width: 1.75rem;
	height: 2rem;
	margin: 0 auto;
	padding-left: 0.5rem;
	transition: border 0.3s ease, box-shadow 0.3s ease;
	background-size: cover;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: -0.025em;
	color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	text-shadow: -0.025em 0.025em 0 black;
	user-select: none;
	visibility: hidden;
}
.playerHeroHealth {
	position: absolute;
	width: 1.75rem;
	height: 2rem;
	margin: 0 auto;
	padding-left: 0.5rem;
	transition: border 0.3s ease, box-shadow 0.3s ease;
	background-size: cover;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: -0.025em;
	color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	text-shadow: -0.025em 0.025em 0 black;
	user-select: none;
	visibility: hidden;
}
.collisionbox {
	width: 90%;
	height: 30%;
	position: absolute;
	left: 5%;
	top: 35%;
}
.oval {
	border: solid 4px black;
	border-radius: 100%;
  /* Start the shake animation and make the animation last for 0.5 seconds */

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(0.25px, 0.25px) rotate(0deg); }
  10% { transform: translate(-0.25px, -0.5px) rotate(-0.1deg); }
  20% { transform: translate(-1.7px, 0px) rotate(0.1deg); }
  30% { transform: translate(0.7px, 0.5px) rotate(0deg); }
  40% { transform: translate(0.25px, -0.25px) rotate(0.1deg); }
  50% { transform: translate(-0.25px, 0.5px) rotate(-0.1deg); }
  60% { transform: translate(-0.7px, 0.25px) rotate(0deg); }
  70% { transform: translate(0.7px, 0.25px) rotate(-0.1deg); }
  80% { transform: translate(-0.25px, -0.25px) rotate(0.1deg); }
  90% { transform: translate(0.25px, 0.5px) rotate(0deg); }
  100% { transform: translate(0.25px, -0.5px) rotate(-0.1deg); }
}
.mana {
	position: absolute;
	top: 91%;
	left: 63.25%;
	color: white;
	font-size: 23px;
	font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	text-shadow: -0.025em 0.025em 0 black;
	user-select: none;
}
@media screen and (max-height: 450px) {
	.sidebar {padding-top: 15px;}
	.sidebar h1 {font-size: 18px;}
  }
  .sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
  }
  
  .sidebar h1 {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  .sidebar h1:hover {
	color: #f1f1f1;
  }
  
  .sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
	color: #818181 !important;
    text-decoration: none !important;
  }
  
  .openbtn {
	font-size: 20px;
	background-color: #111;
	color: white;
	padding: 10px 15px;
	border: none;
  }
  
  .openbtn:hover {
	background-color: #444;
  }
  #fps {
	  position:absolute;
	  top: 5px;
	  right: 10px;
	  color: white;
	  font-size: 25px;
	  user-select: none;
  }

/* In Game Menu (Press Esc) */
#gamemenu {
	width:100%;
	height:100%;
	position: absolute;
	z-index: 30;
	display: none;
}

#gamemenuContent {
	width:15%;
	height:40%;
	position:absolute;
	top:35%;
	left: 42%;
	display: none;
	background: -webkit-linear-gradient(230deg, rgb(219, 155, 91) 0%, rgb(167, 105, 64) 23%, rgb(84, 49, 30) 81%);
	background: -o-linear-gradient(230deg, rgb(219, 155, 91) 0%, rgb(167, 105, 64) 23%, rgb(84, 49, 30) 81%);
	background: -ms-linear-gradient(230deg, rgb(219, 155, 91) 0%, rgb(167, 105, 64) 23%, rgb(84, 49, 30) 81%);
	background: -moz-linear-gradient(230deg, rgb(219, 155, 91) 0%, rgb(167, 105, 64) 23%, rgb(84, 49, 30) 81%);
	background: linear-gradient(220deg, rgb(219, 155, 91) 0%, rgb(167, 105, 64) 23%, rgb(84, 49, 30) 81%);
	border:solid 11px #232220;
	z-index:40;
	padding-top: 20px;
}

#gamemenuContent:after {
	content: '';
	position: absolute;
	top: -20px;
	left: -20px;
	right: -20px;
	bottom: -20px;
	border:solid 9px #7e6f74;
	-webkit-mask: 
	radial-gradient( circle at left top,    transparent 30px, black 1px), 
	radial-gradient( circle at right top,    transparent 30px, black 1px), 
	radial-gradient( circle at left bottom, transparent 30px, black 1px),
	radial-gradient( circle at right bottom, transparent 30px, black 1px),
	linear-gradient(black,black); /* this layer is mandatory */
  -webkit-mask-composite: destination-in;
  mask-composite: exclude; /* for non-webkit browser */ 
  }
  #gamemenuTitle {
	width: 45%;
	height: 7%;
	position: absolute;
	top: -6.5%;
	left: 20.5%;
	color: white;
	background-color: #b7a783;
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
	z-index:10;
	padding-left: 10%;
	border: 5px solid #1c1c1c;
	user-select: none;
  }
  .gamemenuTitleBorder {
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
	position: absolute;
	transform: rotate(180deg);
	-webkit-mask: 
	radial-gradient( circle at left bottom, transparent 15px, black 1px),
	radial-gradient( circle at right bottom, transparent 15px, black 1px),
	linear-gradient(black,black); /* this layer is mandatory */
  -webkit-mask-composite: destination-in;
  mask-composite: exclude; /* for non-webkit browser */ 
  }
#border1 {
	border-bottom: 50px solid #56514b;
	width: 60%;
	height: 2%;
	top: -8%;
	left: 11%;
	z-index: 5
}
#border2 {
	border-bottom: 50px solid #22211f;
	width: 67%;
	height: 8%;
	top: -8%;
	left: 7.5%;
	z-index: 4;
}
#darkborder1 {
	width: 87%;
	height: 14.5%;
	position: absolute;
	top: 8%;
	left: 6.75%;
	border-top-left-radius: 30px 150%;
	border-bottom-left-radius: 30px 150%; 
	border-top-right-radius: 30px 150%;
	border-bottom-right-radius: 30px 150%; 
	background: linear-gradient(to top, #1b1613, #2c2723);
}
#circle1 {
	display: block;
	border-radius: 100%;
	height: 3.5%;
	width: 5%;
	margin: 0;
	position: absolute;
	top: 13.5%;
	left: 8.5%;
	background: radial-gradient(circle at 2.5% 1.5%, #7b7672, #7b7672);
  }
  #circle2 {
	display: block;
	border-radius: 100%;
	height: 3.5%;
	width: 5%;
	margin: 0;
	position: absolute;
	top: 13.5%;
	left: 86%;
	background: radial-gradient(circle at 2.5% 1.5%, #7b7672, #7b7672);
  }
#silverborder1 {
	width: 70%;
	height: 14.5%;
	position: absolute;
	top: 8%;
	left: 14.75%;
	border-top-left-radius: 30px 150%;
	border-bottom-left-radius: 30px 150%; 
	border-top-right-radius: 30px 150%;
	border-bottom-right-radius: 30px 150%; 
	background: linear-gradient(to top, #403836, #2b2620);
}
#goldborder1 {
	width: 65%;
	height: 11.75%;
	position: absolute;
	top: 9.5%;
	left: 17.5%;
	border-top-left-radius: 30px 175%;
	border-bottom-left-radius: 30px 175%; 
	border-top-right-radius: 30px 175%;
	border-bottom-right-radius: 30px 175%; 
	background: linear-gradient(to top, #7b5a24, #ffd56f);
}
#concedebutton {
	width: 56%;
	height: 8.5%;
	position: absolute;
	top: 11%;
	left: 22%;
	background-color: #e6c4a9;
	color: #4f3a1b;
	border-top-left-radius: 30px 200%;
	border-bottom-left-radius: 30px 200%; 
	border-top-right-radius: 30px 200%;
	border-bottom-right-radius: 30px 200%; 
	font-family: BelweBdBTBold;
	user-select: none;
	z-index: 50;
	outline: none;
}
#concedebutton:hover {
	background-color: #fffeea;
}
#darkborder2 {
	width: 87%;
	height: 14.5%;
	position: absolute;
	top: 32%;
	left: 6.75%;
	border-top-left-radius: 30px 150%;
	border-bottom-left-radius: 30px 150%; 
	border-top-right-radius: 30px 150%;
	border-bottom-right-radius: 30px 150%; 
	background: linear-gradient(to top, #1b1613, #2c2723);
}
#circle3 {
	display: block;
	border-radius: 100%;
	height: 3.5%;
	width: 5%;
	margin: 0;
	position: absolute;
	top: 37.5%;
	left: 8.5%;
	background: radial-gradient(circle at 2.5% 1.5%, #7b7672, #7b7672);
  }
  #circle4 {
	display: block;
	border-radius: 100%;
	height: 3.5%;
	width: 5%;
	margin: 0;
	position: absolute;
	top: 37.5%;
	left: 86%;
	background: radial-gradient(circle at 2.5% 1.5%, #7b7672, #7b7672);
  }
#silverborder2 {
	width: 70%;
	height: 14.5%;
	position: absolute;
	top: 32%;
	left: 14.75%;
	border-top-left-radius: 30px 150%;
	border-bottom-left-radius: 30px 150%; 
	border-top-right-radius: 30px 150%;
	border-bottom-right-radius: 30px 150%; 
	background: linear-gradient(to top, #403836, #2b2620);
}
#goldborder2 {
	width: 65%;
	height: 11.75%;
	position: absolute;
	top: 33.5%;
	left: 17.5%;
	border-top-left-radius: 30px 175%;
	border-bottom-left-radius: 30px 175%; 
	border-top-right-radius: 30px 175%;
	border-bottom-right-radius: 30px 175%; 
	background: linear-gradient(to top, #7b5a24, #ffd56f);
}
#optionsbutton {
	width: 56%;
	height: 8.5%;
	position: absolute;
	top: 35%;
	left: 22%;
	background-color: #e6c4a9;
	color: #4f3a1b;
	border-top-left-radius: 30px 200%;
	border-bottom-left-radius: 30px 200%; 
	border-top-right-radius: 30px 200%;
	border-bottom-right-radius: 30px 200%; 
	font-family: BelweBdBTBold;
	user-select: none;
	z-index: 50;
	outline: none;
}
#optionsbutton:hover {
	background-color: #fffeea;
}
#darkborder3 {
	width: 87%;
	height: 14.5%;
	position: absolute;
	top: 54%;
	left: 6.75%;
	border-top-left-radius: 30px 150%;
	border-bottom-left-radius: 30px 150%; 
	border-top-right-radius: 30px 150%;
	border-bottom-right-radius: 30px 150%; 
	background: linear-gradient(to top, #1b1613, #2c2723);
}
#circle5 {
	display: block;
	border-radius: 100%;
	height: 3.5%;
	width: 5%;
	margin: 0;
	position: absolute;
	top: 59.5%;
	left: 8.5%;
	background: radial-gradient(circle at 2.5% 1.5%, #7b7672, #7b7672);
  }
  #circle6 {
	display: block;
	border-radius: 100%;
	height: 3.5%;
	width: 5%;
	margin: 0;
	position: absolute;
	top: 59.5%;
	left: 86%;
	background: radial-gradient(circle at 2.5% 1.5%, #7b7672, #7b7672);
  }
#silverborder3 {
	width: 70%;
	height: 14.5%;
	position: absolute;
	top: 54%;
	left: 14.75%;
	border-top-left-radius: 30px 150%;
	border-bottom-left-radius: 30px 150%; 
	border-top-right-radius: 30px 150%;
	border-bottom-right-radius: 30px 150%; 
	background: linear-gradient(to top, #403836, #2b2620);
}
#goldborder3 {
	width: 65%;
	height: 11.75%;
	position: absolute;
	top: 55.5%;
	left: 17.5%;
	border-top-left-radius: 30px 175%;
	border-bottom-left-radius: 30px 175%; 
	border-top-right-radius: 30px 175%;
	border-bottom-right-radius: 30px 175%; 
	background: linear-gradient(to top, #7b5a24, #ffd56f);
}
#quitbutton {
	width: 56%;
	height: 8.5%;
	position: absolute;
	top: 57%;
	left: 22%;
	background-color: #e6c4a9;
	color: #4f3a1b;
	border-top-left-radius: 30px 200%;
	border-bottom-left-radius: 30px 200%; 
	border-top-right-radius: 30px 200%;
	border-bottom-right-radius: 30px 200%; 
	font-family: BelweBdBTBold;
	user-select: none;
	z-index: 50;
	outline: none;
}
#quitbutton:hover {
	background-color: #fffeea;
}
#darkborder4 {
	width: 87%;
	height: 14.5%;
	position: absolute;
	top: 78%;
	left: 6.75%;
	border-top-left-radius: 30px 150%;
	border-bottom-left-radius: 30px 150%; 
	border-top-right-radius: 30px 150%;
	border-bottom-right-radius: 30px 150%; 
	background: linear-gradient(to top, #1b1613, #2c2723);
}
#circle7 {
	display: block;
	border-radius: 100%;
	height: 3.5%;
	width: 5%;
	margin: 0;
	position: absolute;
	top: 83.5%;
	left: 8.5%;
	background: radial-gradient(circle at 2.5% 1.5%, #7b7672, #7b7672);
  }
  #circle8 {
	display: block;
	border-radius: 100%;
	height: 3.5%;
	width: 5%;
	margin: 0;
	position: absolute;
	top: 83.5%;
	left: 86%;
	background: radial-gradient(circle at 2.5% 1.5%, #7b7672, #7b7672);
  }
#silverborder4 {
	width: 70%;
	height: 14.5%;
	position: absolute;
	top: 78%;
	left: 14.75%;
	border-top-left-radius: 30px 150%;
	border-bottom-left-radius: 30px 150%; 
	border-top-right-radius: 30px 150%;
	border-bottom-right-radius: 30px 150%; 
	background: linear-gradient(to top, #403836, #2b2620);
}
#goldborder4 {
	width: 65%;
	height: 11.75%;
	position: absolute;
	top: 79.5%;
	left: 17.5%;
	border-top-left-radius: 30px 175%;
	border-bottom-left-radius: 30px 175%; 
	border-top-right-radius: 30px 175%;
	border-bottom-right-radius: 30px 175%; 
	background: linear-gradient(to top, #7b5a24, #ffd56f);
}
#resumebutton {
	width: 56%;
	height: 8.5%;
	position: absolute;
	top: 81%;
	left: 22%;
	background-color: #e6c4a9;
	color: #4f3a1b;
	border-top-left-radius: 30px 200%;
	border-bottom-left-radius: 30px 200%; 
	border-top-right-radius: 30px 200%;
	border-bottom-right-radius: 30px 200%; 
	font-family: BelweBdBTBold;
	user-select: none;
	z-index: 50;
	outline: none;
}
#resumebutton:hover {
	background-color: #fffeea;
}
#line1 {
	width: 80%;
	height: 3px;
	position: absolute;
	top: 27%;
	left: 10%;
	background-color: #59402a;
}
#line2 {
	width: 80%;
	height: 3px;
	position: absolute;
	top: 73%;
	left: 10%;
	background-color: #59452c;
}
#line3 {
	width: 25%;
	height: 3px;
	position: absolute;
	top: 27%;
	left: 38%;
	background-color: #4a3a2a;
	transform: rotate(90deg);
}
#line4 {
	width: 80%;
	height: 10px;
	position: absolute;
	top: 57%;
	left: 10%;
	background-color: #473422;
}
@keyframes openMenuAnim {
	0%   {transform:scale(.5);}
	50%  {transform:scale(1.2);}
	100% {transform:scale(1);}
 }
 .openMenuAnim{
    animation: openMenuAnim 0.25s;
}
@keyframes easeOutAnim {
	0%   {transform:scale(1);}
	50%  {transform:scale(1.2);}
	100% {transform:scale(.4);}
 }
 .easeOutAnim{
    animation: easeOutAnim 0.25s;
}
#togglefps {
	width: 56%;
	height: 4%;
	position: absolute;
	top: 25%;
	left: 22%;
	background-color: #e6c4a9;
	color: #4f3a1b;
	border-top-left-radius: 30px 200%;
	border-bottom-left-radius: 30px 200%; 
	border-top-right-radius: 30px 200%;
	border-bottom-right-radius: 30px 200%; 
	font-family: BelweBdBTBold;
	user-select: none;
	z-index: 50;
}

/* Options Menu */
#optionsmenu {
	width:100%;
	height:100%;
	position: absolute;
	z-index: 30;
	display: none;
}

#optionsmenuContent {
	width:45%;
	height:52%;
	position:absolute;
	top:23%;
	left: 25%;
	display: none;
	background: -webkit-linear-gradient(200deg, rgb(219, 155, 91) 0%, rgb(167, 105, 64) 23%, rgb(84, 49, 30) 81%);
	background: -o-linear-gradient(200deg, rgb(219, 155, 91) 0%, rgb(167, 105, 64) 23%, rgb(84, 49, 30) 81%);
	background: -ms-linear-gradient(200deg, rgb(219, 155, 91) 0%, rgb(167, 105, 64) 23%, rgb(84, 49, 30) 81%);
	background: -moz-linear-gradient(200deg, rgb(219, 155, 91) 0%, rgb(167, 105, 64) 23%, rgb(84, 49, 30) 81%);
	background: linear-gradient(200deg, rgb(219, 155, 91) 0%, rgb(167, 105, 64) 23%, rgb(84, 49, 30) 81%);
	border:solid 11px #232220;
	z-index:40;
	padding-top: 20px;
}

#optionsmenuContent:after {
	content: '';
	position: absolute;
	top: -20px;
	left: -20px;
	right: -20px;
	bottom: -20px;
	border:solid 9px #7e6f74;
	-webkit-mask: 
	radial-gradient( circle at left top,    transparent 30px, black 1px), 
	radial-gradient( circle at right top,    transparent 30px, black 1px), 
	radial-gradient( circle at left bottom, transparent 30px, black 1px),
	radial-gradient( circle at right bottom, transparent 30px, black 1px),
	linear-gradient(black,black); /* this layer is mandatory */
  -webkit-mask-composite: destination-in;
  mask-composite: exclude; /* for non-webkit browser */ 
  }
  #optionsmenuTitle {
	width: 40%;
	height: 7%;
	position: absolute;
	top: -6.5%;
	left: 12.5%;
	color: white;
	background-color: #d3c197;
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
	z-index:10;
	padding-left: 32%;
	border: 5px solid #1c1c1c;
	align-items: center;
	justify-content: center;
	font-size: 25px;
	user-select: none;
  }
  .optionsmenuTitleBorder {
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
	position: absolute;
	transform: rotate(180deg);
	-webkit-mask: 
	radial-gradient( circle at left bottom, transparent 15px, black 1px),
	radial-gradient( circle at right bottom, transparent 15px, black 1px),
	linear-gradient(black,black); /* this layer is mandatory */
  -webkit-mask-composite: destination-in;
  mask-composite: exclude; /* for non-webkit browser */ 
  }
#border3 {
	border-bottom: 50px solid #56514b;
	width: 78%;
	height: 7%;
	top: -7%;
	left: 8.5%;
	z-index: 5
}
#border4 {
	border-bottom: 50px solid #22211f;
	width: 82%;
	height: 8%;
	top: -8%;
	left: 6.5%;
	z-index: 4;
}
#darkborder5 {
	width: 35%;
	height: 12.5%;
	position: absolute;
	top: 84%;
	left: 58%;
	border-top-left-radius: 30px 150%;
	border-bottom-left-radius: 30px 150%; 
	border-top-right-radius: 30px 150%;
	border-bottom-right-radius: 30px 150%; 
	background: linear-gradient(to top, #1b1613, #2c2723);
}
#circle9 {
	display: block;
	border-radius: 100%;
	height: 2.5%;
	width: 1.5%;
	margin: 0;
	position: absolute;
	top: 89.5%;
	left: 59.25%;
	background: radial-gradient(circle at 2.5% 1.5%, #7b7672, #7b7672);
  }
  #circle10 {
	display: block;
	border-radius: 100%;
	height: 2.5%;
	width: 1.5%;
	margin: 0;
	position: absolute;
	top: 89.5%;
	left: 90%;
	background: radial-gradient(circle at 2.5% 1.5%, #7b7672, #7b7672);
  }
#silverborder5 {
	width: 27.5%;
	height: 12.5%;
	position: absolute;
	top: 84%;
	left: 62%;
	border-top-left-radius: 30px 150%;
	border-bottom-left-radius: 30px 150%; 
	border-top-right-radius: 30px 150%;
	border-bottom-right-radius: 30px 150%; 
	background: linear-gradient(to top, #403836, #2b2620);
}
#goldborder5 {
	width: 26%;
	height: 9.75%;
	position: absolute;
	top: 85.5%;
	left: 62.75%;
	border-top-left-radius: 30px 175%;
	border-bottom-left-radius: 30px 175%; 
	border-top-right-radius: 30px 175%;
	border-bottom-right-radius: 30px 175%; 
	background: linear-gradient(to top, #7b5a24, #ffd56f);
}
#miscellaneousbutton {
	width: 23%;
	height: 6.5%;
	position: absolute;
	top: 87%;
	left: 64%;
	background-color: #e6c4a9;
	color: #4f3a1b;
	border-top-left-radius: 30px 200%;
	border-bottom-left-radius: 30px 200%; 
	border-top-right-radius: 30px 200%;
	border-bottom-right-radius: 30px 200%; 
	font-family: BelweBdBTBold;
	user-select: none;
	z-index: 50;
	outline: none;
}
#miscellaneousbutton:hover {
	background-color: #fffeea;
}


/* Onload */
#block {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.85);
	z-index: 10;
}
#vs {
	width: 20%;
	height: 20%;
	position: absolute;
	top: 40%;
	left: 45%; 
	background-image: url("src/images/vs.png");
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 20;
}

/* Victory Screen */
#victory {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 20;
	display: none;
}
#victoryImg1 {
	width: 30%;
	height: 30%;
	position: absolute;
	top: 40%;
	left: 40%;
	background-image: url("src/images/jaina_proudmoore.gif");
	background-size: contain;
	background-repeat: no-repeat;
}

/* Speech Bubbles*/
#playerbubble {
    position: absolute;
	left: 37%;
	top: 52%;
	padding-top: 2.5px;
	padding-bottom: 2.5px;
    background: linear-gradient(0deg, #dbd4cc 5%, #ffffff 100%);
    color: #000000;
    font-family: Arial;
    font-size: 35px;
    line-height: 40px;
    box-shadow: 0px 1px 0px 5px #000000;
    text-align: center;
    width: 15%;
    height: 13%;
    border-radius: 50px;
	visibility: hidden;
}
#playerbubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: #dbd4cc transparent;
    border-width: 24px 15px 0;
    bottom: -24px;
    left: 77%;
    margin-left: -15px;
}

